* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
}

svg path {
    stroke: red;
    stroke-width: 15px;
    fill: none;
    
}